*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body,html{
    width: 100%;
    height: 100%;
    color: #fff;
}


.search-container {
    display: flex;
    justify-content: center;
    margin: 1% 0 0 0 ;
    gap: 10px;
}
.search-container input[type="text"] {
    padding: 10px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    width: 300px;
}
.search-container button {
    padding: 10px 15px;
    background-color: #909192;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.search-container button:hover {
    background-color: #000000;
}

.bg{
    position: relative;
    display: flex;
    height: 100vh;
    background-size: cover;
}
.bg img{
    height: 100%;
    width: 100%;
}
.weather{
    position: absolute;
    left: 3%;
    right: 0;
    bottom: 0;
    border-radius: 15px;
    background-color: #00000034;
    height: 100%;
    width: 94%;
    border: 1px solid #ffffff5f;
}
.headings ,h1{
    font-weight: 100;
    margin:  1rem;
}
.headings ,h2{
    font-weight: 100;
    font-size: 18px;
    margin:  1rem;
}
.w-box{
    height: auto;
    display: flex;
    gap: 1rem;
    padding: 1%;
    width: auto;
    border-radius: 12px;
    
}
.degree h4{
    font-size: 1rem;
}
.degree{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    flex-direction: column;
    backdrop-filter: blur(5px);
    background-color: #766af61f;
    height: auto;
    width: 30%;
    border-radius: 12px;
    padding: 2% 0;
}
.airquality{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    flex-direction: column;
    height: auto;
    width: 30%;
    border-radius: 12px;
    backdrop-filter: blur(5px);
    padding: 2% 0;
    background-color: #766af61f;
}
.forecast{
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    height: auto;
    width: 45%;
    padding:2%;
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background-color: #766af61f;
}
.icons{
    display: flex;
    flex-direction: column;
    width: 39px;
}
.degree h1{
    font-size: 4vw;
    font-weight: 400;
}
.degree p{
    font-size: 3vw;
}
.airquality img{
    width: 40%;
    object-fit: contain;
    margin: 2% 0 ;
}
.airquality h1{
    font-size: 3vw;
    font-weight: 400;
}
.airquality h2{
    font-size: 8rem;
}
.airquality h3{
    font-size: 2rem;
}
.alert{
 padding:1rem;
 text-align: center;
}
.forecast h1{
    text-align: center;
    font-size: 3vw;
    font-weight: 400;
}
.forecast p{
    margin:  1rem 0;
}
.data{
  display: flex;
  justify-content: space-between;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    width:100%;
    height:fit-content ;
    height: 50px;
    backdrop-filter: blur(8px);
    background-color: #ffffff34;
}
.button:hover{
    cursor: pointer;
}
.button h2{
    width: 100%;
    text-align: center;
    height: auto;
    font-size: 1.5rem;
}
.condition{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 100;
}

@media(max-width:840px){
   .bg img{
     height: 180%;
}
.search-container{
    margin: 0.5rem ;
}
.w-box{
    flex-direction: column;
}
.weather{
       top: 2rem;
    height: max-content;
   }
 .airquality,.forecast,.degree{
    width: 100%;
 }  
 .airquality img{
    width: 85px;
 }
 .degree h1{
    font-size: 3rem;
 }
 .airquality h1{
    font-size: 2rem;
 }
 .forecast h1{
    font-size: 2rem;
 }
}